body {
 	margin : 0 0 0 0;
 	overflow-y: hidden; /*在IE下右边有滚动条时表格无法完全铺开*/
}

 .tableRegion {
	border: 1px solid silver;
	padding: 2px;
	font-size: 10px;
}

 .tableRegion_none {
	

	padding: 2px;
	
	font-size: 10px;
	
}

 .tableRegion_right {
	border-right-style: solid;
	border-right-width: 1px;
	
	font-size: 10px;
	
}
 .tableRegion_right_bottom {
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	
	font-size: 10px;
	
}
 .z{
 	
	font-size: 12px;
 }
 .tableRegion_bottom {
	
	border-bottom-style: solid;
	border-bottom-width: 1px;
	
	font-size: 12px;
	
}
 .tableRegion2 {
 border-bottom:1px solid silver;
 	
	
	
	font-size: 10px;
	
	
}

 .filter {
	background-color: #efefef;
}

 .filter input {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	width: 100%;
}

 .filter select {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9px;
	border: solid 1px #EEE;
	width: 100%;
}

 .tableHeader {
	font-family: "����";
	font-size: 12px;
	color: #FFFFFF;
	background-image:  url(../images/list_headerbg.gif);
	background-repeat: repeat-x;
	height: 24px;
	vertical-align: middle;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: #ffffff;
	text-align: center;
}

 .tableHeaderSort {
	font-family: "����";
	font-size: 12px;
	color: #FFFFFF;
	background-image:  url(../images/list_headerbg_over.gif);
	background-repeat: repeat-x;
	height: 24px;
	vertical-align: middle;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: #ffffff;
	text-align: center;
}

 .odd a, .even a {
	color: Black;
	font-family: "����";
	font-size: 12px;
	height: 12px;
	vertical-align: middle;
}

 .odd td,  .even td {
	font-family: "����";
	font-size: 12px;
	height: 12px;
	vertical-align: middle;
}

 .odd {
	background-color: #FFFFFF;
	height: 10px;
	text-align: center;
	font-family: "����";
	font-size: 12px;
}

 .odd2 {
	background-color: #FFFFFF;
	height: 10px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-color: #CDECFF;
	text-align: center;
	font-family: "����";
	font-size: 12px;
}

 .odd3 {
	background-color: #FFFFFF;
	height: 10px;
	
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-color: #CDECFF;
	text-align: center;
	font-family: "����";
	font-size: 12px;
}

 .even {
  	background-color: #D7F0FF;
	height: 10px;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: #CDECFF;
	text-align: center;
	font-family: "����";
	font-size: 12px;
}

 .highlight td {
	color: black;
	font-family: "����";
	font-size: 12px;
	height: 10px;
	vertical-align: middle;
	background-color:#FFFF00;
	text-align: center;
}

 .highlight a, .highlight a {
	color: black;
	font-family: "����";
	font-size: 12px;
	height: 10px;
	vertical-align: middle;
	text-align: center;
}

 .toolbar {
	background-color: #F4F4F4;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9px;
	margin-right: 1px;
	border-right: 1px solid silver;
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}

 .toolbar td {
	color: #444444;
	padding: 0px 3px 0px 3px;
	text-align:center;
}

 .separator {
	width: 7px;
}

 .statusBar {
	background-color: #F4F4F4;
	font-family: "����";
	font-size: 12px;
}

 .filterButtons {
	background-color: #efefef;
	text-align: right;
}

 .title {
	color: #444444;
	font-weight: bold;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 15px;
	vertical-align: middle;
}

 .title span {
	margin-left: 7px;
}

 .formButtons {
	display: block;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}

.bottomButtons {
	margin: 0;
	padding: 0;
	height: 25px;
}

 .formButton {
	cursor: pointer;
	font-family: "����";
	font-size:12px;
	background-image:  url(../images/accept.gif);
	color: black;
	border: outset 0px #ffffff;
	vertical-align: middle;
	width: 52px;
	height: 22px;
	
}

 .tableTotal {
	background-color: #FFFFFF;
	border-top: solid 1px Silver;	
}

 .tableTotalEmpty {
	background-color: #FFFFFF;	
}

 .frame {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}

 .frame2 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}

.textbox {
	font-size: 10px;
	height: 20px;
	width: 65px;
	
}

.leftNav {
	background-color: #F4F4F4;
	font-family: Arial,Tahoma;
	height: 100%;
}

.accordionTabTitleBar {
   font-size           : 12px;
   padding             : 4px 6px 4px 6px;
   border-style        : solid none solid none;
   border-top-color    : #BDC7E7;
   border-bottom-color : #182052;
   border-width        : 1px 0px 1px 0px;
}

.accordionTabTitleBarHover {
   font-size        : 11px;
   background-color : #1f669b;
   color            : #000000;
}

.accordionTabContentBox {
   font-size        : 11px;
   border           : 1px solid #1f669b;
   border-top-width : 0px;
   padding          : 0px 8px 0px 8px;
}

.menuLink{
	font-size : 12px;
	color : #2152B5;
	text-decoration : none;
}

